@import url('https://fonts.googleapis.com/css?family=Press+Start+2P|VT323&display=swap');
@import url(https://fonts.googleapis.com/css?family=Geo);

/* font-family: 'VT323', monospace;
font-family: 'Press Start 2P', cursive;
font-family: 'Geo', sans-serif;*/
* {
  font-family: 'Press Start 2P', cursive;
  color: white;
}

body {
  padding: 0;
  margin: 0;
}

canvas {
  background-color: #17163b;
}

button,
label,
input {
  color: black;
  padding: 11px 9px;
  border-radius: 10px;
  margin: 5px;
  background-color: white;
}

input {
  line-height: 1rem;
  width: 100px;
}

label {
  font-size: 0.5rem;
  display: block;
  width: 140px;
}

.title {
  position: absolute;
  z-index: 20;
  top: 20px;
  left: 20px;
}

.title h1 {
  font-size: 15px;
}

button.facebookLogin {
  background-color: transparent;
  border: none;
  padding: none;
}
.facebookLogin img {
  width: 30px;
  height: 30px;
}
